.root {
	/* gruvbox dark */	
	-fx-bg0h: #1d2021;
	-fx-bg0: #282828;
	-fx-bg0s: #32302f;
	-fx-bg1: #3c3836;
	-fx-bg2: #504945;
	-fx-bg3: #665c54;
	-fx-bg4: #7c6f64;
	-fx-gray: #928374;
	
	-fx-base: -fx-bg1;
	-fx-accent: -fx-bg2;
	-fx-light-text-color: #ebdbb2;
	-fx-dark-text-color: -fx-bg0;

	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	-fx-background-insets: 0px 0px 0px 0px;
	
	


	-fx-color-inner-background: -fx-bg1, -fx-bg1, -fx-bg1, -fx-bg1;
	-fx-padding: 0, 20, 0, 20;

}

.menu-bar, .tool-bar, .button {
	-fx-background-insets:0px 0px 0px 0px;
}

.tool-bar {
	-fx-background-color: -fx-bg0, -fx-bg0, -fx-bg0, -fx-bg0; 
}

.menu-bar {
	-fx-background-color: -fx-bg0s, -fx-bg0s, -fx-bg0s, -fx-bg0s;
}

.toggle-button {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	-fx-focus-traversable: false;
	-fx-background-color: -fx-bg1, -fx-bg1, -fx-bg1, -fx-bg1;
	-fx-border-color: -fx-bg0;
	-fx-border-width: 1;
	-fx-border-radius: 1;
}

.toggle-button:hover {
}

.toggle-button:selected, .toggle-button:pressed {
	-fx-border-color: #8ec07c;

}

.toggle-button:pressed {
	-fx-background-color: -fx-bg2, -fx-bg2, -fx-bg2, -fx-bg2;

}


.context-menu {
	-fx-background-color: -fx-bg0;
	-fx-padding: 0, 20, 0, 20;
}


#Planet{
	-fx-fill: #b8bb26;
}

#bg {
	-fx-background-color: -fx-bg0h;
}


.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 1;
	-fx-background-color: -fx-bg1;
}

#properties {
	-fx-background-color: -fx-bg0s;
}

.titled-pane {
	-fx-text-fill: -fx-text-base-color;
}

.titled-pane > .title {
	-fx-background-color: -fx-bg0, -fx-bg0, -fx-bg0;
	-fx-fontsize: 16;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 2 2 0 0, 2 2 0 0, 2 2 0 0;
	-fx-padding: 0.2em 0.8em 0.25em 0.9em; /* 2 10 3 10 */
	-fx-border-width: 1;
	-fx-border-radius: 2;
	-fx-border-color: -fx-bg0h;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: -fx-bg3, -fx-bg3;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
	-fx-rotate: -90;
	-fx-background-color: -fx-bg4, -fx-bg4;
}

.titled-pane > *.content {
	-fx-border-width: 0 0.4em 0 0.4em;
	-fx-border-color: -fx-bg0s;
	-fx-background-insets: 0, 0 1 1 1;
	-fx-padding: 0.167em;
	-fx-background-color: -fx-bg1;
 }

/* https://stackoverflow.com/questions/21451386/titled-pane-csssettings

