.root {
	-fx-base: #3c3836;
	-fx-accent: #504945;
	-fx-light-text-color: #ebdbb2;

	-fx-background-insets:0px 0px 0px 0px;
	-fx-color-inner-background: #3c3836, #3c3836, #3c3836, #3c3836;
	
}


.menu-bar {
	-fx-background-insets:0px 0px 0px 0px;
	-fx-background-color: #282828, #282828, #282828, #282828 
}

.context-menu {
		-fx-background-color: #282828;
		-fx-padding: 0, 20, 0, 20;
}
.menu:hover {

}

.menu-item {
	
}


#Planet{
	-fx-fill: #b8bb26;
}

#bg {
	-fx-background-color: #1d2021;
}